html {
    font-size: 16px;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: white;
    color: #333;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .25rem 0;

}

h1 {
    font-size: 0.875rem;
    font-weight: normal;
    margin: 0;
}

nav a {
    font-size: 0.875rem;
    text-decoration: none;
    color: #000;
    margin-left: 15px;
}

nav a:first-child {
    color: #00FF00;
}

main {
    margin-top: 40px;
}

h2 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 20px;
}

.project-description {
    margin-bottom: 40px;
}

.project-images {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image-container {
    width: 100%;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.two-column {
    display: flex;
    gap: 20px;
}

.two-column .image-container {
    /* non 16/9 aspect ratio */
    flex: 1;
}

.two-column .image-container.aspect-16-9 {
    flex: 1;
    padding-top: 28.125%;
}

footer {
    padding: 20px 0;
    margin-top: 40px;
}

.footer-content {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-content p {
    margin: 0;
    font-size: 14px;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    color: #333;
    font-size: 20px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #00FF00;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    /* Adjust this value based on your logo size */
    margin: 1rem 0;
    /* Add some vertical spacing */
}

.animated-logo {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.project-role {
    margin: 0;
    /* Adds space above the role text */
    font-size: .9rem;
    /* Adjust size as needed */
    color: #888;
    /* Adjust color as needed */
}

::selection {
    background: #00FF00;
    color: white;
}

::-moz-selection {
    background: #00FF00;
    color: white;
}

.additional-description {
    margin: 40px 0;
    padding: 20px;
    border-radius: 5px;
}

.additional-description p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.6;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
}

.project-info {
    flex: 1;
    padding-right: 5rem;

    height: 100%;
}

.project-info h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.project-info .project-subtitle {
    font-size: 1rem;
    color: #888;
    /* Lighter color for subtitle */
    margin: 0 0 2rem 0;
    /* Add some space before the description */
}

.project-description {
    margin-top: 3rem;
    /* Add space above the description */
}

.project-description p {
    font-size: 0.9rem;
    line-height: 1.5;
}

.project-thumbnail {
    flex: 1;
    max-width: 50%;
}

.project-thumbnail img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.project-video {
    flex: 1;
    max-width: 50%;
}

.video-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 aspect ratio */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.project-video-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.section-divider {
    height: 1px;
    background-color: #cfcdcd;
    /* Light grey color, adjust as needed */
    margin: 40px 0;
    /* Adjust the vertical margin as needed */
    width: 100%;
}

a.link-underline {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #00FF00;
    transition: border-bottom-color 0.3s ease;
}

a.link-underline:hover {
    text-decoration: wavy underline #00FF00;
}

a.link-underline:visited {
    color: inherit;
}

@media (max-width: 768px) {
    .project-header {
        flex-direction: column;
    }

    .project-info {
        width: 100%;
        padding-right: 0;
        margin-bottom: 20px;
    }

    .project-thumbnail,
    .project-video {
        width: 100%;
        max-width: 100%;
    }

    .video-container {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .project-header {
        flex-direction: column;
    }

    .project-info {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .project-thumbnail {
        max-width: 100%;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 90%;
    }
}

@media (max-width: 768px) {
    .two-column {
        flex-direction: column;
    }

    .container {
        max-width: 100%;
        padding: 0 10px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .social-icons {
        margin-top: 15px;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 14px;
    }
}